KMSKA/KMSKA Orders/force-app/main/default/flows/X2_weeks_before_end_date_membership.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_mail_to_contact</name>
        <label>Send mail to contact</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@kmska.be</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_current_last_membership_date</name>
        <label>Check current last  membership date</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Last_membership_date_is_in_2_weeks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npo02__MembershipEndDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>two_weeks</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_mail_to_contact</targetReference>
            </connector>
            <label>Last membership date is in 2 weeks</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>currentYear</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!$Flow.CurrentDate}))</expression>
    </formulas>
    <formulas>
        <name>Email</name>
        <dataType>String</dataType>
        <expression>{!$Record.Email}</expression>
    </formulas>
    <formulas>
        <name>two_weeks</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 14</expression>
    </formulas>
    <interviewLabel>2 weeks before end date membership {!$Flow.CurrentDateTime}</interviewLabel>
    <label>2 weeks before end date membership</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_current_last_membership_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npo02__MembershipEndDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-08-25</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(60, 60, 60); font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 10pt;&quot;&gt;Beste Vriend(in),&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(60, 60, 60); font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(60, 60, 60); font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(60, 60, 60); font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 10pt;&quot;&gt;Uw lidmaatschap van de Vrienden van het KMSKA loopt binnenkort ten einde. Hopelijk heeft u afgelopen jaar vele fijne momenten beleefd in het KMSKA!&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(60, 60, 60); font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 10pt; color: rgb(60, 60, 60);&quot;&gt;Mede met jullie steun, konden we in 2023 de restauratie van &lt;/span&gt;&lt;strong style=&quot;font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 10pt; color: rgb(60, 60, 60);&quot;&gt;&lt;em&gt;Portret van een jongeman&lt;/em&gt;&lt;/strong&gt;&lt;span style=&quot;font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 10pt; color: rgb(60, 60, 60);&quot;&gt; van Michaelina Wautier financieren. In 2024 engageren we ons voor de restauratie van &lt;/span&gt;&lt;strong style=&quot;font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 10pt; color: rgb(60, 60, 60);&quot;&gt;&lt;em&gt;Aardappelrooister&lt;/em&gt; &lt;/strong&gt;&lt;span style=&quot;font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 10pt; color: rgb(60, 60, 60);&quot;&gt;van Vincent Van Gogh.&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(60, 60, 60); font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 10pt;&quot;&gt;Opnieuw organiseren we tal van interessante uitstappen en rondleidingen binnen en buiten het KMSKA. Ook het museummagazine Zaal Z is inbegrepen in uw lidmaatschap.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(60, 60, 60); font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(60, 60, 60); font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 10pt;&quot;&gt;Graag nodigen we u uit om uw lidmaatschap te hernieuwen zodat u kan blijven genieten van al dat schoons.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(60, 60, 60); font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(60, 60, 60); font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(60, 60, 60); font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 10pt;&quot;&gt;Onze tarieven {!currentYear}:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(60, 60, 60); font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 10pt;&quot;&gt;Kunstvriend: 80€&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(60, 60, 60); font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 10pt;&quot;&gt;Kunstduo: 120€&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(60, 60, 60); font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 10pt;&quot;&gt;Kunstminnaar: 500€&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(60, 60, 60); font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 10pt;&quot;&gt;Kunstondernemer: 2000€&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; color: rgb(60, 60, 60); font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;Om uw lidmaatschap te hernieuwen, kan u online betalen via &lt;/span&gt;&lt;a href=&quot;https://buytickets.at/vriendenvanhetkmskavzw/store&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://buytickets.at/vriendenvanhetkmskavzw/store&lt;/a&gt; of een overschrijving uitvoeren op het rekeningnummer van de &lt;strong&gt;Vrienden van het&lt;/strong&gt; &lt;strong style=&quot;font-size: 10pt; color: rgb(60, 60, 60); font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;KMSKA: BE30 2200 7234 0111&lt;/strong&gt;&lt;span style=&quot;font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 10pt; color: rgb(60, 60, 60);&quot;&gt; met vermelding &quot;hernieuwing lid + naam/namen&quot;.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(60, 60, 60); font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 10pt;&quot;&gt;Van zodra wij uw bijdrage ontvangen, versturen wij uw nieuwe lidkaarten per post. We hopen u spoedig opnieuw te mogen verwelkomen in het KMSKA!&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(60, 60, 60); font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(60, 60, 60); font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(60, 60, 60); font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 10pt;&quot;&gt;met de schoonste groeten,&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 10pt;&quot;&gt;Vrienden van het KMSKA&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Hernieuwing lidmaatschap</stringValue>
        </value>
    </variables>
</Flow>
