VDS Dev/force-app/main/default/flows/MCAE_Event_Master_After_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Showroom_RT</name>
        <label>Get Showroom RT</label>
        <locationX>1282</locationX>
        <locationY>947</locationY>
        <actionName>GetRecordType</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Showroom_Visit_Report</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>Visit_Report__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordTypeApiName</name>
            <value>
                <stringValue>Showroom</stringValue>
            </value>
        </inputParameters>
        <nameSegment>GetRecordType</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SetAcademyAttendance</name>
        <label>SetAcademyAttendance</label>
        <locationX>578</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>AcademyAttendance.Academy_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AcademyEventId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AcademyAttendance.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AcademyRemark__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AcademyAttendance.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Subscribed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckLeadingObjectAcademy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetContact</name>
        <label>SetContact</label>
        <locationX>314</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>AcademyAttendance.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Academy_Attendance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLeadAcademy</name>
        <label>SetLead</label>
        <locationX>578</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>AcademyAttendance.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Academy_Attendance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLeadingObject</name>
        <label>SetLeadingObject</label>
        <locationX>1172</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>leadingObjectApiName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadingObject_RecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RequestType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLeadingObjectContact</name>
        <label>SetLeadingObject</label>
        <locationX>908</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>leadingObjectApiName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadingObject_RecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RequestType</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AcademyEvent</name>
        <label>AcademyEvent</label>
        <locationX>534</locationX>
        <locationY>1163</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AcademyEventId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateAcademyEvent</targetReference>
            </connector>
            <label>Does Not Exist</label>
        </rules>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AcademyEventId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SetAcademyAttendance</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetAcademyAttendance</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckLeadingObjectAcademy</name>
        <label>CheckLeadingObject</label>
        <locationX>578</locationX>
        <locationY>1379</locationY>
        <defaultConnector>
            <targetReference>Create_Academy_Attendance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContactAcademy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>leadingObjectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetContact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>LeadAcademy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>leadingObjectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetLeadAcademy</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContactOrLead</name>
        <label>ContactOrLead</label>
        <locationX>1172</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetLeadingObjectContact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetLeadingObject</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>InsertOrUpdate</name>
        <label>InsertOrUpdate</label>
        <locationX>1623</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactOrLead</targetReference>
            </connector>
            <label>Insert</label>
        </rules>
    </decisions>
    <decisions>
        <name>RequestType</name>
        <label>RequestType</label>
        <locationX>1172</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Academy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RequestType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Academy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AcademyEvent</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAcademyQueueId</targetReference>
            </connector>
            <label>Academy</label>
        </rules>
        <rules>
            <name>Showroom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RequestType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Showroom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Showroom_RT</targetReference>
            </connector>
            <label>Showroom</label>
        </rules>
    </decisions>
    <decisions>
        <name>Run_Flow</name>
        <label>Run Flow</label>
        <locationX>1980</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Don&apos;t run!</defaultConnectorLabel>
        <rules>
            <name>Run</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Global_Bypass_Settings__c.Run_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InsertOrUpdate</targetReference>
            </connector>
            <label>Run</label>
        </rules>
    </decisions>
    <description>On insert: 
* makes a snapshot of the available data on Contact or Lead depending on the requesttype
* Requesttype Academy: create Academy Event if needed and create Academy Attendance</description>
    <environments>Default</environments>
    <formulas>
        <name>ShowroomLocation</name>
        <dataType>String</dataType>
        <expression>&apos;Vandersanden &apos; &amp; IF({!$Record.ShowroomLocation__c} = &apos;Spouwen-Bilzen&apos;, &apos;Spouwen&apos;, {!$Record.ShowroomLocation__c})</expression>
    </formulas>
    <interviewLabel>MCAE Event - Master - After - Insert/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MCAE Event - Master - After - Insert/Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Academy_Attendance</name>
        <label>Create Academy Attendance</label>
        <locationX>578</locationX>
        <locationY>1679</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>AcademyEvent</targetReference>
        </connector>
        <inputReference>AcademyAttendance</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Error_Log</name>
        <label>Create Error Log</label>
        <locationX>1546</locationX>
        <locationY>1163</locationY>
        <inputAssignments>
            <field>Function_Name__c</field>
            <value>
                <stringValue>MCAE Event - Master - After - Insert/Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Method__c</field>
            <value>
                <stringValue>Create Showroom Visit Report</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Type__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Showroom_Visit_Report</name>
        <label>Create Showroom Visit Report</label>
        <locationX>1282</locationX>
        <locationY>1055</locationY>
        <faultConnector>
            <targetReference>Create_Error_Log</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Contact__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appointment_Id__c</field>
            <value>
                <elementReference>$Record.ShowroomVisit_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Showroom_RT.id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Showroom_Location__c</field>
            <value>
                <elementReference>ShowroomLocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Date__c</field>
            <value>
                <elementReference>$Record.ShowroomVisitDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Description__c</field>
            <value>
                <elementReference>$Record.ShowroomRemark__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Interest__c</field>
            <value>
                <elementReference>$Record.ShowroomInterest__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Time__c</field>
            <value>
                <elementReference>$Record.ShowroomTime__c</elementReference>
            </value>
        </inputAssignments>
        <object>Visit_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateAcademyEvent</name>
        <label>CreateAcademyEvent</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <assignRecordIdToReference>AcademyEventId</assignRecordIdToReference>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>AcademyEvent</targetReference>
        </connector>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>$Record.AcademyDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>$Record.AcademyOption__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventId__c</field>
            <value>
                <elementReference>$Record.AcademyEventId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetAcademyQueueId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>$Record.AcademyType__c</elementReference>
            </value>
        </inputAssignments>
        <object>Academy_Event__c</object>
    </recordCreates>
    <recordLookups>
        <name>GetAcademyEvent</name>
        <label>GetAcademyEvent</label>
        <locationX>534</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AcademyEvent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AcademyEventId__c</elementReference>
            </value>
        </filters>
        <object>Academy_Event__c</object>
        <outputAssignments>
            <assignToReference>AcademyEventId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetAcademyQueueId</name>
        <label>GetAcademyQueueId</label>
        <locationX>534</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAcademyEvent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Academy</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1854</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_Flow</targetReference>
        </connector>
        <object>MCAE_Event__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AcademyAttendance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Academy_Attendance__c</objectType>
    </variables>
    <variables>
        <name>AcademyEventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadingObject_RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadingObjectApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VisitReport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit_Report__c</objectType>
    </variables>
</Flow>
